{
  "extends": "airbnb",
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
	"react/jsx-indent": 0,
    "react/jsx-curly-spacing": [2, "always"],
    "react/prefer-stateless-function": [0],
	"react/jsx-indent-props": 0,
    "comma-dangle": "off",
    "indent": 0,
	"no-tabs": 0,
	"no-mixed-spaces-and-tabs": 0
  },
  "env": {
    "jasmine": true,
    "browser": true
  }
}
