/* You can add global styles to this file, and also import other style files */
body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
  font-family: 'Merriweather', serif;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strikeText {
  text-decoration: line-through;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-height: 8em;
  max-height: 16em;
}

strong + small {
    display: block;
}

input[type=checkbox] {
  margin-right: 1em;
}

div.pull-right a {
  margin-left: 1em;
}

.sub-container {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(213, 213, 213);
}

.to-do-item {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
}

.displayNone {
	display: none;
}

.greenBg {
	background-color: rgb(131, 148, 131);
}

.yellowBg {
	background-color: rgb(225, 225, 157);
}

.redBg {
	background-color: rgb(227, 146, 146);
}

/* input[type=checkbox] {
    margin-left: 6px;
    margin-top: 6px;
} */

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
	margin-left: 6px;
    margin-top: 6px;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
    content: "";
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
	position: relative;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul {
	padding-left: 0;
}